* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3e4c9;
  text-align: center;
  padding: 30px 100px;
}

#title-container {
  > h1 {
    color: #5c4331;
    margin-bottom: 10px;
  }

  > p {
    color: #a77f60;
  }
}

#campaign-container {
  height: 600px;
  margin-top: 50px;
}

.campaign-box {
  width: 1000px;
  margin: 0 auto;
}

.campaign {
  float: left;

  background-color: #fff7ed;
  color: #5c4331;
  font-weight: 700;

  padding: 30px 0;
  margin: 0px 0 30px 30px;

  width: 300px;
  border-radius: 10px;

  > img {
    width: 80px;
  }
}

.campaign:nth-child(1) {
  clear: both;
}
