::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #ccd67f;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border: 3px solid #ccd67f;
  border-radius: 5px;
}
